{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Правила</h1>
    <p>1. Запрещено обсуждать геополитику (кроме теорий заговора);</p>
	<p>2. Запрещено обсуждать религию во всех ее формах и проявлениях;</p>
	<p>3. Запрещена реклама, продажа, рецепты наркотиков, советы по употреблению наркотиков;</p>
	<p>4. Запрещена реклама коммерческих ресурсов и продуктов без разрешения Администрации;</p>
	<p>5. Запрещен сбор пожертвований;</p>
	<p>6. Запрещена продажа оружия;</p>
	<p>7. Запрещено описывать, обсуждать способы суицида, подстрекать к суициду;</p>
	<p>8. Запрещена политическая агитация;</p>
	<p>9. Запрещено устанавливать или менять ник на оскорбительный или унизительный;</p>
	<p>10. Запрещен агрессивный мат, флуд, спам, флейм;</p>
	<p>11. Запрещена расовая, национальная, религиозная и гендерная дискриминация;</p>
	<p>12. Запрещено создавать аккаунты под видом других лиц (фальшивые аккаунты);</p>
	<p>13. Запрещено указывать фальшивые данные о себе;</p>
	<p>14. Запрещены угрозы, призывы к насилию;</p>
	<p>15. Запрещены экстремистские материалы;</p>
	<p>16. Запрещены порнографические материалы или сцены сексуального характера;</p>
	<p>17. Запрещена пропаганда преступной деятельности или советы, инструкции или руководства по совершению преступных действий;</p>
	<p>18. Запрещена публикация, загрузка на сайт и распространение материалов, запрещенных на территории Российской Федерации;</p>
	<p>19. Запрещено распространять, загружать, публиковать и/или размещать ссылки на вирусы, трояны и прочие вредоносные программы;</p>
	<p>20. Запрещено использовать, распространять и/или размещать ссылки на программы, нарушающие работу данного Сервиса;</p>

	<p>За нарушение этих правил ваш аккаун может быть забанен (будет временно ограничен доступ к аккаунту) или удален безвозвратно.</p>
	<p><a href="javascript:history.back()">{{ _('Назад') }}</a></p>
{% endblock %}