{% set last_seen = post.author.last_seen | string() %}
	<table class="table table-hover" id="post{{ post.id }}">
		<tr>
			<td width="48px">
				<a href="{{ url_for('main.user', username=post.author.username) }}">
					{% if last_seen[0:-10] == time %}
					<p style="background-image: url({{ '/static/avatars/' + post.author.username + '.png' }}); border-radius: 24px; background-size: 48px;"><img src="{{ '/static/onlineoverlay.png' }}" width="48" height="48">
					{% else %}
					<img src="{{ '/static/avatars/' + post.author.username + '.png' }}" style="border-radius: 24px;" width="48" height="48">
					{% endif %}
				</a>
			</td>
			<td>
				<h6>
				{% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        @{{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
            	</h6>
                <span id="post{{ post.id }}" class="post">{{ post.body }}</span>
			</td>
		</tr>
	</table>
