{% extends "base.html" %}

{% block app_content %}
	<table class="table table-hover">
		<tbody><tr>
			<td>
				<a href="{{ url_for('main.user', username=user.username) }}"><img src="{{ '/static/avatars/' + user.username + '.png' }}" class="cover"></a>
			</td>
		</tr>
	</tbody></table>
	<table class="table table-hover" style="position: relative; z-index: 2;">
		<tr>
			{% if last_seen == time %}
			<td width="100px"><p style="background-image: url({{ '/static/avatars/' + user.username + '.png' }}); border-radius: 64px; background-size: 100px;"><img src="{{ '/static/onlineoverlay.png' }}" width="100" height="100"></td>
			{% else %}
			<td width="100px"><img src="{{ '/static/avatars/' + user.username + '.png' }}" style="border-radius: 64px;" width="100" height="100"></td>
			{% endif %}
			<td>
				<h1>@{{ user.username }}</h1>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if last_seen == time %}
				<p>Онлайн</p>
				{% else %}
				<p>{{ "Был(а) в сети " + moment(user.last_seen).fromNow()+ ", " + moment(user.last_seen).format("LLL") }}</p>
				{% endif %}
				<p>{{ _('%(count)d подписчиков', count=user.followers.count()) }}, {{ _('%(count)d подписок', count=user.followed.count()) }}</p>
				{% if user == current_user %}
				<p>
					<a href="/edit_profile"><button class="btn btn-default"><img src="/static/edit.png" style="width: 24px;"> Редактировать профиль</button></a>
				</p>
				<p>
					<a href="/avatar"><button class="btn btn-default"><img src="/static/avatar.png" style="width: 24px;"> Изменить аватарку</button></a>
				</p>
				{% elif not current_user.is_following(user) %}
				<p>
					<form action="{{ url_for('main.follow', username=user.username) }}" method="post">
						<button type=submit class="btn btn-default"><img src="/static/follow.png" style="width: 24px;"> Подписаться</button>
					</form>
				</p>
				{% else %}
				<p>
					<form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
						<button type=submit class="btn btn-default"><img src="/static/unfollow.png" style="width: 24px;"> Отписаться</button>
					</form>
				</p>
				{% endif %}
				{% if user != current_user %}
				<p>
					<a href="{{ url_for('main.send_message', recipient=user.username) }}"><button class="btn btn-default"><img src="/static/messages.png" style="width: 24px;"> Отправить сообщение</button></a>
				</p>
				{% endif %}
			</td>
		</tr>
	</table>
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}" class="pager">
					<span aria-hidden="true">&larr;</span> {{ _('Новые посты') }}
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}" class="pager">
					{{ _('Старые посты') }} <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}
