@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

body {
	font-family: Manrope, sans-serif;
}

nav{}

.navbar-default {
    background-color: #7800ff;
    border-color: #7800ff;
}

.navbar {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}